.pokemon-container {
  width: 90%;
  margin: 2%;
  padding: 5%;
  border-radius: 10px;
  background-color: #F2F2F2;
  text-align: center;
}

.pokemon-container > h2 {
  margin-top: 0;
}

.pokemon-container > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}