header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #F2F2F2;
  background-color: #262626;
}

.logo-container {
  display: flex;
  width: calc(50% + 40px);
  justify-content: space-between;
  align-items: center;
}

.title-logo {
  height: auto;
  width: 40%;
  margin: 1em;
  margin-bottom: 0;
}

.title-logo:hover {
  cursor: pointer;
}

.pokeball-logo {
  height: 80px;
  width: 80px;
}

.subtitle {
  align-self: flex-end;
  margin-left: 1.4rem;
  margin-bottom: 1rem;
  font-size: 0.8em;
}

.home-button-link {
  margin-right: 5%;
}

.home-button {
  padding: 0 1.5em;
  border-radius: 5px;
  background-color: #F2F2F2;
  font-size: 24px;
}

.home-button:hover {
  cursor: pointer;
  background-color: #e5e5e5;
}

.home-button:active {
  box-shadow: inset 1px 1px 1px 1px #9e9e9e;
}