header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #F2F2F2;
  background-color: #262626;
}

.logo-container {
  display: flex;
  width: calc(50% + 30px);
  justify-content: space-between;
  align-items: center;
}

.title-logo {
  height: auto;
  width: 40%;
  margin: 1em;
}

.title-logo:hover {
  cursor: pointer;
}

.pokeball-logo {
  height: 60px;
  width: 60px;
}

.subtitle {
  align-self: flex-end;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 0.8em;
}